<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Scanner QR</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav class="navbar">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
</nav>
<h1>Scanner QR Code</h1>
<div id="reader"></div>
<div id="result"></div>
<script src="https://unpkg.com/html5-qrcode"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
